# Prøve 0

Ikke bruk innebygde funksjoner som  min, max, sort, sum, etc

### Oppgave 0
Skriv et program som beregner divisjone $\frac{a}{b}$ Programmet skal be brukeren om verdiene til $a$ og $b$. 

Legg til nødvendige feilhånderinger av input

#### Løsning:

In [62]:
while True:
    try:
        a = int(input("Skriv inn et heltall: "))
        b = int(input("Skriv inn et heltall til "))
        
        if b == 0:
            print("Det siste tallet kan ikke være 0")
        else:
            break
        
    except: 
        print("Du må skrive inn heltall. Prøv igjen.")
        

print(f'{a}/{b} = {a/b:.2f}')

Skriv inn et heltall:  1
Skriv inn et heltall til  0

Det siste tallet kan ikke være 0

Skriv inn et heltall:  7
Skriv inn et heltall til  9

7/9 = 0.78

### Oppgave 1

Les inn et heltall, som skal representere variheten til en gitt hendelse. Gjør om fra sikunder til dette formatet:

timer:minutter:sekunder

| Input | Output  |  
|---|---|
|  556 | 0:9:16  |
|  1 | 0:0:1 |
|  140153 | 38:55:53  |



#### Løsning:

In [30]:
tall = 140153 #int(input('Sekunder: '))

timer = tall//(60*60)
rest = tall%(60*60)
minutter = rest//60
sekunder = rest%60

f'{timer}:{minutter}:{sekunder}'

'38:55:53'

### Oppgave 2 
Lag en funksjon som tar 3 argument, a, b og c. Funksjonen skal returnere **True** hvis enten summen av a pluss b er mindre enn c, eller hvis er c er et partall. Returner **False** ellers. 

Eksempel

| Input | Output  |  
|---|---|
|  1, 2, 3 | False |
|  -124, -18, 0 | True |

#### Løsning:

In [31]:
def func(a, b, c):
    return a + b < c or c%2 == 0

func(-124, -18, 0)

True

### Oppgave 3 
Lag en funksjon som tar 2 heltall som argumenter. Funksjonen skal returnere gjennomsnittet av alle tallene fra og med det første til og med det siste tallet.

Eksempel

|Input | Output |
|---|---|
|0, -1| -0.5|
|100, 105| 102.5|

#### Løsning:

In [43]:
def gjennomsnitt(a, b):
    sum = 0
    if b < a: i=-1
    else: i = 1
    for x in range(a, b+i, i):
        sum += x
        
    return sum/((abs(a-b)+1))

gjennomsnitt(0, -1)

-0.5

### Oppgave 4
Lag en funksjon som tar en liste med tall som argument. Funksjonen skal returnere produkte av alle tallene i lista.

Eksempel:

| Input  |Output |
|---|---|
|[-5,7,4,0] |0|
|[1.5, 20, -1]| -30|

#### Løsning:

In [44]:
def produkt(liste):
    prod = 1
    for tall in liste:
        prod *= tall
        
    return prod

produkt([1.5, 20, -1])

-30.0

### Oppgave 5 
Lag en funksjon som tar en liste som argument og returnerer det  minste tallet i lista.

| Input  |Output |
|---|---|
|[0, 1, -67] |-67|
|[100, 105]| 100|

#### Løsning:

In [45]:
def min_liste(liste):
    min = liste[0]
    for x in liste:
        if x < min:
            min = x
    
    return min

min_liste([0, 1, -67])

-67

### Oppgave 6

Det har blitt rot i en database med tall. Mange bokstaver har blandet seg inn mellom tallene.

Lag en funksjon som tar en streng som argument og returnerer summen av tallene i strengen.


Eksempel

| Input  |Output |
|---|---|
|Ab23s249ttu21| 23 |
|At01v021kkk12 |7|

#### Løsning:

In [47]:
def summen(streng):
    tallene = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
    sum = 0
    for tegn in streng:
        for tall in tallene:
            if tall == tegn:
                sum += int(tall)
                
    return sum


summen('Ab23s249ttu21')

23

### Oppgave 7
Lag en funksjon som tar en liste og et tall som argument og returnerer indeksen tallet i listen. Returner -1 hvis tallet ikke inngår i lista.

| Input  |Output |
|---|---|
|[1,2,3,4,5], 3| 2|
|[-124, -18, 0], 1.1| -1|

#### Løsning:

In [50]:
def indeks(liste, tall):
    for i in range(len(liste)):
        if liste[i] == tall:
            return i
    
    return -1

indeks([1,2,3,4,5], 3)

2

### Oppgave 8
Skriv en funksjon som tar to heltall som argument og skriver ut en ramme av *

Eksempel
 - input: 2, 2
 - output: 

```
     * *
     * *
````

 - input: 4, 5
 - output: 

```
    * * * *
    *     *
    *     *
    *     *
    * * * *  
````

#### Løsning:

In [61]:
def ramme(x, y):
    print(x*'* ')
    for i in range(y-2):
        print(f'* {(x-2)*"  "}*')
    print(x*'* ')
    
ramme(8, 5)

* * * * * * * *
*             *
*             *
*             *
* * * * * * * *