# Prøve 0

Ikke bruk innebygde funksjoner som  min, max, sort, sum, etc

### Oppgave 0
Skriv et program som beregner divisjone $\frac{a}{b}$ Programmet skal be brukeren om verdiene til $a$ og $b$. 

Legg til nødvendige feilhånderinger av input

#### Løsning:

### Oppgave 1

Les inn et heltall, som skal representere variheten til en gitt hendelse. Gjør om fra sikunder til dette formatet:

timer:minutter:sekunder

| Input | Output  |  
|---|---|
|  556 | 0:9:16  |
|  1 | 0:0:1 |
|  140153 | 38:55:53  |



#### Løsning:

### Oppgave 2 
Lag en funksjon som tar 3 argument, a, b og c. Funksjonen skal returnere **True** hvis enten summen av a pluss b er mindre enn c, eller hvis er c er et partall. Returner **False** ellers. 

Eksempel

| Input | Output  |  
|---|---|
|  1, 2, 3 | False |
|  -124, -18, 0 | True |

#### Løsning:

### Oppgave 3 
Lag en funksjon som tar 2 heltall som argumenter. Funksjonen skal returnere gjennomsnittet av alle tallene fra og med det første til og med det siste tallet.

Eksempel

|Input | Output |
|---|---|
|0, -1| -0.5|
|100, 105| 102.5|

#### Løsning:

### Oppgave 4
Lag en funksjon som tar en liste med tall som argument. Funksjonen skal returnere produkte av alle tallene i lista.

Eksempel:

| Input  |Output |
|---|---|
|[-5,7,4,0] |0|
|[1.5, 20, -1]| -30|

#### Løsning:

### Oppgave 5 
Lag en funksjon som tar en liste som argument og returnerer det  minste tallet i lista.

| Input  |Output |
|---|---|
|[0, 1, -67] |-67|
|[100, 105]| 100|

#### Løsning:

### Oppgave 6

Det har blitt rot i en database med tall. Mange bokstaver har blandet seg inn mellom tallene.

Lag en funksjon med som tar en streng som argument og returnerer summen av tallene i strengen.


Eksempel

| Input  |Output |
|---|---|
|Ab23s249ttu21| 23 |
|At01v021kkk12 |7|

#### Løsning:

### Oppgave 7
Lag en funksjon som tar en liste og et tall som argument og returnerer indeksen tallet i listen. Returner -1 hvis tallet ikke inngår i lista.

| Input  |Output |
|---|---|
|[1,2,3,4,5], 3| 2|
|[-124, -18, 0], 1.1| -1|

#### Løsning:

### Oppgave 8
Skriv en funksjon som tar to heltall som argument og skriver ut en ramme av *

Eksempel
 - input: 2, 2
 - output: 

```
     * *
     * *
````

 - input: 4, 5
 - output: 

```
    *****
    *   *
    *   *
    *   *
    *****  
````

#### Løsning: